.container{
    align-items: center;
    padding: 14vh 0 24vh 0;
}

.title{
    font-size: 6vh;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 8vh;
}

.box{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 3.2vh;
    margin: 4vh 10vh 0 auto;
    padding: 10vh 1vh 0 8vh;
}

.imgPeople{
    width: 26vh;
}

@media screen and (max-width:1000px) {
    .container{
        align-items: center;
        height: auto;
        padding: 0;
        margin: 0;
    }
    
    .box{
        width: 43vh;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 2.2vh;
        margin: 0;
        padding: 6vh 0 3vh 0;
    }

    .textBox{
        padding: 0 0 0 4vh;
    }

    .imgPeople{
        width: 10vh;
        margin-bottom: 9vh;
    }
}

