.container{
    align-items: center;
    height: 74.2vh;
}

.box{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 2.6vh;
    margin: 0 auto 0 -24vh;
    padding: 24vh 12vh 9vh 8vh;
}

.imgPeople{
    width: 20vh;
}

@media screen and (max-width:1000px) {
    .container{
        align-items: center;
        height: auto;
        padding: 0;
        margin: 0;
    }
    
    .box{
        width: 43vh;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 2.2vh;
        margin: 0;
        padding: 6vh 0 3vh 0;
    }

    .textBox{
        padding: 0 0 0 4vh;
    }

    .imgPeople{
        width: 10vh;
        margin-bottom: 9vh;
    }
}

